{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Change password
        </div>
        <div class="card-body">
            {% if msg %}
                <div class="alert alert-info" role="alert">
                    {{ msg }}
                </div>
            {% endif %}
            <form id="changePasswordForm" method="post" action="/auth/change-password">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" name="new_password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-info">Change password
                </button>
            </form>
        </div>
    </div>
</div>

